.head{
    background-repeat:repeat-x;
    background-size£º100%;
    height:80px;
    background-color: #525252;
}
.head-menu{
    font-size:24px;
    font-weight:lighter;
    text-align:center;
    line-height:80px;
}
.head-menu>ul{
    display:inline-block;
    margin:auto;
}
.head-menu li{
    float:left;
    display:inline-block;
    padding:0 20px 0 20px;
}
.head-menu a{
    color:#FFF;
    text-decoration:none;
}

.logo{
    width:78px;
    height: 80px;
    background-image: url(../img/logo.png);
    float:left;
}

.content{
    width:100%;
    height:1000px;
}

.menu-button{
    cursor:pointer;
}
.menu-button:hover{
    background-color:#F7B128;
}
