.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
    clear:both;
}

body{
    font-family: "Gotham A","Gotham B","M Hei PRC W45","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    min-width:960px;
}

.head{
    position:fixed;
    width:100%;
    z-index:9999;
    min-width:960px;
}
.head-menu{
    font-size:14px;
    font-weight:lighter;
    float:right;
}
.head-menu>ul{
    display:inline-block;
    margin:auto;
}
.head-menu>ul>li{
    float:left;
    display:inline-block;
    margin-left:10px;
    position:relative;
    top:-50px;
}
.head-menu a{
    color:#FFF;
    text-decoration:none;
}

.logo{
    width:78px;
    height: 80px;
    background-image: url(../img/logo.png);
    float:left;
}

.content{
    width:100%;
    height:100%;
    position:relative;
    float:left;
}

.menu-button{
    cursor:pointer;
    background-image: url("../img/menu-mask.png");
    width:70px;
    height:80px;
    float:left;
    text-align: center;
}

.menu-button>a{
    margin:0 auto;
    top:50px;
    position:relative;
    cursor:pointer;
}

.navi{
    padding-top:80px;
}

.navi>ul{
    margin:0 auto;
    width:1000px;
}
.navi li{
    cursor:pointer;
}

.icon-menu{
    float:left;
    margin-left:150px;
    margin-top:20px;
    margin-bottom:20px;
}

.storion-menu{
    width: 64px;
    height:157px;
    background-image: url(../img/product/storion-menu.png);
}

.crystal-menu{
    width:69px;
    height:162px;
    background-image: url(../img/product/crystal-menu.png);
}

.invertor-menu{
    width:85px;
    height:111px;
    background-image: url(../img/product/invertor-menu.png);
    margin-top:50px;
}

.cloud-menu{
    width:80px;
    height:90px;
    background-image: url(../img/product/cloud-menu.png);
    margin-top:50px;
}

.language{
    font-size:14px;
    float:right;
    color:#fff;
    margin-right:50px;
    margin-top:10px;
}

.lang-ico{
    width:20px;
    height:13px;
    float:left;
    margin-right:5px;
}

.deu-ico{
    background-image: url(../img/geman.png);
}

.eng-ico{
    background-image: url(../img/english.png);
}

.chn-ico{
    background-image: url(../img/china.png);
}

.language li{
    height:20px;
    cursor:pointer;
}


.contact-map{
    background-color:#e9e9e9;
}

.map-detail{
    width:180px;
    float:left;
    text-align: center;
}

.map-title{
    font-size:18px;
    padding:10px 0 20px 10px;
}

.map{
    margin: 0 auto;
    width:900px;
    margin-top:50px;
}

.map-link{
    border-bottom:2px solid #000;
    padding-bottom: 20px;
}

.map li{
    margin:10px;
    font-size:14px;
}

.copyright{
    margin:20px 0 50px 0 ;
    float:right;
}