.head{
    background-repeat:repeat-x;
    height:80px;
    background-color: #525252;
    position:fixed;
    width:100%;
    z-index:9999;
}
.head-menu{
    font-size:24px;
    font-weight:lighter;
    text-align:center;
    line-height:80px;
}
.head-menu>ul{
    display:inline-block;
    margin:auto;
}
.head-menu li{
    float:left;
    display:inline-block;
    padding:0 15px 0 15px;
}
.head-menu a{
    color:#FFF;
    text-decoration:none;
}

.logo{
    width:78px;
    height: 80px;
    background-image: url(../img/logo.png);
    float:left;
}

.content{
    width:100%;
    height:1000px;
}

.menu-button{
    cursor:pointer;
}
.menu-button:hover{
    background-color:#F7B128;
}

.navi{
    padding-top:80px;
}

.navi>ul{
    margin:0 auto;
    width:1000px;
}
.navi li{
    cursor:pointer;
}

.icon-menu{
    float:left;
    margin-left:150px;
    margin-top:20px;
    margin-bottom:20px;
}

.storion-menu{
    width: 64px;
    height:157px;
    background-image: url(../img/product/storion-menu.png);
}

.crystal-menu{
    width:69px;
    height:162px;
    background-image: url(../img/product/crystal-menu.png);
}

.invertor-menu{
    width:85px;
    height:111px;
    background-image: url(../img/product/invertor-menu.png);
    margin-top:50px;
}

.cloud-menu{
    width:80px;
    height:90px;
    background-image: url(../img/product/cloud-menu.png);
    margin-top:50px;
}