.head{
    background-repeat:repeat-x;
    background-size: 100%;
    height:80px;
    background-color: #525252;
}
.head-menu{
    font-size:24px;
    font-weight:lighter;
    text-align:center;
    line-height:80px;
}
.head-menu>ul{
    display:inline-block;
    margin:auto;
}
.head-menu li{
    display:inline-block;
    padding:0 20px 0 20px;
}
.head-menu a{
    color:#FFF;
    text-decoration:none;
}

.content-wrap {
    float:left;
    margin-top: 100px;
}

.content-wrap .left{
    position:fixed;
    width: 300px;
    height: 400px;
    background-color: #f1f1f1;
    margin-left:20px;
}
.content-wrap .left .menu-item{
    float: left;
    width: 240px;
    cursor: pointer;
    margin:30px 0 0 20px;
    padding-bottom: 10px;
    padding-top:10px;
    border-bottom:1px solid #f7b128;
}

.content-wrap .left .menu-item:hover{
    color:#FFF;
    background-color: #f7b128;
}
.content-wrap .left #menu-l1{
    background-color: #f7b128;
}
.content-wrap .left #menu-l1 .menu-name{
    color: #fff;

}
.content-wrap .left #menu-l1 .arrow{
    background-color: #b78626;
    color: #fff;
}

.content-wrap .left .menu-item .menu-name{
    float: left;
    width: 240px;
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.content-wrap .left .menu-item .onlymenu-name{
    color:#FFFFFF;
    background-color:#f7b128;
}


.content-wrap .left .menu-item .arrow{
    float: left;
    margin-left: -50px;
    width: 50px;
    height: 120px;
    font-size: 32px;
    font-weight: bolder;
    color: #f1f1f1;
    text-align: center;
    line-height: 120px;

}
.onlymenu-arrow{
    background-color:  #b78626;
}
.content-wrap .left .line{
    float: left;
    width: 230px;
    height: 2px;
    border-bottom: 2px solid #a9a9a9;
    margin: 1px 0 1px 54px;
}
.content-wrap .right{
    float: left;
    margin-left: 350px;
}

.content-wrap .right .main{
    float: left;
}

.content-wrap .right .main .title{
    float: left;
    line-height: 100px;
    color: #a9a9a9;
    font-size: 28px;
    width:70%;
}
.content-wrap .right .main .detail{
    float: left;
    font-size: 20px;
    color: #a9a9a9;
    line-height: 120%;
}
.content-wrap .right .main .downloadlist-background{
    float: left;
    width: 772px;
    height: 48px;
    border-bottom:1px solid #979797;
}

.news-pic{
    float:left;
}

.title{
    margin-left: 20px;
}

.menu-name a{
    color:#000;
    text-decoration: none;
}

.menu-name>a:hover{
    color:#FFF;
    text-decoration: none;
}

.content-wrap .left .menu-item:hover{
    background-color: #f7b128;
}