body{
    background-color: #f3f3f3;
    height:100%;
    font-size:14px;
    color:#333;
    overflow:hidden;
}

.head-menu>ul{
    display:inline-block;
    margin:auto;
}
.head-menu a{
    color:#FFF;
    text-decoration:none;
}

.content-wrap {
    width:990px;
    position:relative;
    margin:0px auto;
    margin-top: 100px;
}

.content-wrap .left{
    width: 250px;
    margin-right:10px;
    float:left;
    position:relative;
}
.content-wrap .left li{
    float: left;
    cursor: pointer;
    padding-top:10px;
    width: 200px;
    color: #333;
    list-style: inside;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    font-size: 12px;
    line-height: 24px;
}
.content-wrap .left li a{
    width: 180px;
    line-height: 24px;
    font-size: 12px;
    color: #333;
    outline: 0;
    text-decoration: none;
}

.content-wrap .left li a:hover{
    color:#f7b128;
}

.onlymenu-arrow{
    background-color:  #b78626;
}
.content-wrap .left .line{
    float: left;
    width: 230px;
    height: 2px;
    border-bottom: 2px solid #a9a9a9;
    margin: 1px 0 1px 54px;
}
.content-wrap .right{
    float: left;
    position:relative;
    width:1000px;
    background-color:#fff;
    border: 1px solid #e6e6e6;
}

.content-wrap .right .main{
    width: 655px;
    margin: 20px auto 0;
    position: relative;
}

.content-wrap .right .main .title{
    line-height: 29px;
    overflow: hidden;
    height: 63px;
    padding-top: 23px;
    width: 527px;
    font-size: 22px;
    font-weight: 400;
    color: #333;
    text-align: left;
    word-wrap: break-word;
    word-break: normal;
}

.post-info{
    font-size: 12px;
    color: #8c8c8c;
    line-height: 14px;
    padding-bottom: 22px;
    border-bottom: 1px solid #e6e6e6;
}

.content-wrap .right .main .detail{
    float: left;
    font-size: 14px;
    color: #333;
    margin-bottom: 30px;
    line-height: 20px;
    text-indent: 30px;
}
.content-wrap .right .main .downloadlist-background{
    float: left;
    width: 772px;
    height: 48px;
    border-bottom:1px solid #979797;
}

.news-pic{
    float:left;
}

.menu-name a{
    color:#000;
    text-decoration: none;
}

.menu-name>a:hover{
    color:#FFF;
    text-decoration: none;
}

.content-wrap .left .menu-item:hover{
    background-color: #f7b128;
}

.more{
    width:248px;
    border:1px solid #e6e6e6;
    background-color:#fff;
    height:30px;

}

.news-list{
    width:200px;
    border:1px solid #e6e6e6;
    background-color:#fff;
    height:200px;
    padding: 0 19px 25px 29px;
    margin-bottom: 15px;
}

.news-list h3{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 4px;
    margin: 16px 0 0 0;
}

.partner-logo{
    float:left;
}

.logo-lishen{
    width:186px;
    height:64px;
    background-image: url(../img/partners/lishen.png);
}

.logo-power{
    width:254px;
    height:100px;
    background-image: url(../img/partners/power.png);
}

.logo-goodwe{
    width:254px;
    height:100px;
    background-image: url(../img/partners/goodwe.png);
}

.logo-gmde{
    width:254px;
    height:100px;
    background-image: url(../img/partners/gmde.png);
}

.logo-solr360{
    width:254px;
    height:100px;
    background-image: url(../img/partners/solr360.png);
}

.bread-wrapper{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    width:1000px;
    float:left;
    margin-bottom:20px;
    height:40px;
    position:relative;
    z-index: 100;
}

.bread{
    position:relative;
}

.bread-node{
    float:left;
    margin: 12px 10px 0 20px;
    cursor: pointer;
}

.arrow{
    float:left;
    margin: 12px 10px 0 20px;
}

.about-list{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    width:160px;
    height:80px;
    visibility: hidden;
    position: absolute;
    top:-9999px;
    left:-9999px;
}

.about-list a{
    float:left;
    margin:10px;
    color:#333;
}

.banner{
    width:1000px;
    height: 300px;
    background-image: url(../img/banner/boat.png);
}