.content{
    float:left;
    overflow: hidden;
    /*width:1920px;*/
    height:600px;
    position:relative;
    overflow: hidden;
}

.content-1{
    background-image: url(../img/product/first_back.png);
    width:100%;
    height:600px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:80px;
}

.content-2{
    background-color: #EEEEEE;
}

.content-storion{
    width:1000px;
    height:600px;
    margin:0 auto;
    position:relative;
}

.storion{
    width:310px;
    height:800px;
    background-image: url(../img/product/storion.png);
    float:left;
    margin-left:80px;
    cursor:pointer;
    position:relative;
    top:40px;
}

.powerpack{
    width:300px;
    height:458px;
    background-image: url(../img/product/powerpack.png);
    /*float: left;*/
    position:absolute;
    top:400px;
    margin-left:-100px;
    z-index:10;
}

.stuff{
    position:absolute;
    left:50%;
    margin: auto;
    margin-left:-200px;
    margin-top:50px;
}

.divide{
    width:300px;
    height:2px;
    background-image: url(../img/product/divide.png);
    float:left;
    background-position:center;
    margin-top:10px;
}

.feature-title{
    color:#7C7C7C;
    font-size: 24px;
    position:relative;
    float:left;
    width:100%;
}

.feature-title-content{
    float:left;
    width:200px;
    margin:10px 0 0 10px;
}

.feature{
    position:absolute;
    width:300px;
}

.feature-detail{
    float:left;
    position:relative;
}

.feature-detail-content{
    margin-top: 10px;
    float:left;
    font-size: 16px;
    line-height: 20px;
    width:250px;
}

.point{
    float:left;
    width: 20px;
    height: 20px;
    background-image: url(../img/pointer.png);
    margin-left:-20px;
}

.feature-1{
    left:360px;
    top:180px;
}

.feature-2{
    left:660px;
    top:180px;
}

.feature-3{
    left:360px;
    top:400px;
}

.feature-4{
    left:660px;
    top:400px;
}

.crystal{
    width:327px;
    height:560px;
    background-image: url(../img/product/crystal.png);
    float:left;
    position:absolute;
    left:320px;
}

.image-feature{
    position:relative;
    /*opacity:0;*/
}

.image-feature-icon-big{
    width:103px;
    height:102px;
    background-position: center;
    background-repeat: no-repeat;
}

.multifunction-ico{
    background-image: url(../img/product/multi_color.png);
}

.reliability-ico{
    background-image: url(../img/product/reliability_color.png);
}

.comparatility-ico{
    background-image: url(../img/product/comparatility_color.png);
}

.safety-ico{
    background-image: url(../img/product/safety_color.png);
}

.multifunction{
    background-image: url(../img/product/multi.png);
}

.comparatility{
    background-image: url(../img/product/comparatility.png);
}

.safety{
    background-image: url(../img/product/safety.png);
}

.reliability{
    background-image: url(../img/product/reliability.png);
}

.powerful{
    background-image: url(../img/product/powerful.png);
}

.advanced{
    background-image: url(../img/product/advanced.png);
}

.extendability{
    background-image: url(../img/product/extendability.png);
}

.economical{
    background-image: url(../img/product/economical.png);
}

.transportation{
    background-image: url(../img/product/transportation.png);
}

.service{
    background-image: url(../img/product/service.png)
}

.chemical{
    background-image: url(../img/product/chemical.png)
}

.left-feature, .right-feature{
    float:left;
    width:300px;
}

.left-feature{
    position:absolute;
    top:100px;
    left:0px;
}

.right-feature{
    position:absolute;
    top:100px;
    left:700px
}

.image-feature{
    margin-top:30px;
    width:360px;
}

.image-feature-icon{
    float:left;
    width:50px;
    height:50px;
    background-position: center;
    background-repeat: no-repeat;
}

.image-feature-sub-title{
    width:220px;
}

.left-feature .image-feature{
    float:right;
}

.left-feature .image-feature-icon-big{
    float:right;
}

.right-feature .image-feature{
    float:left;
}

.left-feature .image-feature-title{
    float:right;
    font-size:24px;
    margin-right:20px;
    margin-top:20px;
}

.left-feature .image-feature-sub-title {
    float: right;
    font-size:14px;
    margin-right:20px;
    margin-top:10px;
}

.right-feature .image-feature-title{
    float:left;
    font-size:24px;
    margin-left:20px;
    margin-top:20px;
}

.right-feature .image-feature-sub-title {
    float: left;
    font-size:14px;
    margin-left:20px;
    margin-top:10px;
}

.right-feature .image-feature-icon-big{
    float:left;
}

.left-mixed{
    background-position: center;
    width:100%;
    height:600px;
    background-repeat: no-repeat;
    position:relative;
    z-index: 10;
}

.right-mixed{
    width:100%;
    height: 600px;

    background-repeat: no-repeat;
    position:absolute;
    z-index: 9;
}

.mixed-feature{
    width:100%;
    height:600px;
    float:left;
}

.content-5{
    /*background-color: #f5f1e3;*/
    width:100%;
    position:relative;
    height:600px;
}

.cloud{
    background-image: url(../img/product/cloud.png);
    width:379px;
    height:218px;
    margin:100px auto;
    z-index:10;
}

.link{
    background-image: url(../img/product/link.png);
    position:absolute;
    width:803px;
    height:432px;
    left:50%;
    top:140px;
    margin-left:-401px;
}

.pad{
    background-image: url(../img/product/pad.png);
    width:181px;
    height:129px;
    position:absolute;
    left : 12%;
    top: 50px;
    z-index:10;
}

.laptop{
    background-image: url(../img/product/laptop.png);
    width:310px;
    height:178px;
    position:absolute;
    left : 10%;
    top:400px;
}

.phone{
    background-image: url(../img/product/phone.png);
    width:80px;
    height:136px;
    position:absolute;
    left : 60%;
    top : 500px

}

.imac{
    background-image: url(../img/product/imac.png);
    width:288px;
    height:277px;
    position:absolute;
    left : 75%;
    top:400px;
}

.storion-flat{
    background-image: url(../img/product/storion-flat.png);
    width:164px;
    height:396px;
    margin:100px auto;
}

.device{
    opacity : 0;
}

.introduction{
    width:300px;
    height:200px;
    position:absolute;
    left:70%;
    top :100px;
}

.introduction-name{
    font-size: 48px;
}

.introduction-detail{
    font-size:14px;
}

.introduction-detail li{
    margin:10px 0 0 20px;
}

.learn-more{
    font-size:12px;
    position:absolute;
    left : 700px;
    top : 520px;

    float:left;
    background-color: #F7B12A;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 0 2px rgba(120,120,120,.1);
    -moz-box-shadow: 0 0 0 2px rgba(120,120,120,.1);
    box-shadow: 0 0 0 2px rgba(120,120,120,.1);
    -webkit-transition: border-radius .2s ease-in-out;
    -moz-transition: border-radius .2s ease-in-out;
    -o-transition: border-radius .2s ease-in-out;
    transition: border-radius .2s ease-in-out;
    padding: 10px 15px;
    font-weight: 100;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none!important;
    border: transparent;
    cursor: pointer;
    color:#fff;
}

.learn-more:hover{
  background-color: #AD7A17;
}

.video{
    font-size:12px;
    position:absolute;
    left : 700px;
    top : 560px;

    float:left;
    background-color: #F7B12A;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 0 2px rgba(120,120,120,.1);
    -moz-box-shadow: 0 0 0 2px rgba(120,120,120,.1);
    box-shadow: 0 0 0 2px rgba(120,120,120,.1);
    -webkit-transition: border-radius .2s ease-in-out;
    -moz-transition: border-radius .2s ease-in-out;
    -o-transition: border-radius .2s ease-in-out;
    transition: border-radius .2s ease-in-out;
    padding: 10px 15px;
    font-weight: 100;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none!important;
    border: transparent;
    cursor: pointer;
    color:#fff;
}

.video:hover{
  background-color: #AD7A17;
}


.learn-more-left{
    left: 680px;
}

.learn-more-right{
    left: 850px;
}

.learn-more li{
    float:left;
}

.pdf-icon{
    width:20px;
    height:24px;
    background-image: url(../img/pdf.png);
    float:left;
}

.pdf-content{
    float:left;
    cursor: pointer;
    padding:5px;
}

.left-menu{
    position:fixed;
    z-index:9999;
    left:90%;
    top:30%
}

.menu-normal{
    background-image: url(../img/menu-normal.png);
    background-position: center;
    background-repeat: no-repeat;
    width:18px;
    height:18px;
    float: right;
    cursor: pointer;
}

.menu-active{
    background-image: url(../img/menu-active.png);
    width:18px;
    height:18px;
    float:right;
}

.menu-text{
    float:right;
    font-size: 12px;
    margin:4px 8px 0 0;
}

.left-menu li{
    margin-top:20px;
    width:100%;
    height: 60px;
}

.title{
    left:700px;
    position:absolute;
    text-align: center;
    float:left;
    margin-top:20px;
    z-index:100;
}

.title h2{
    font-size:24px;
    color:#333;
}

.title h2 strong{
    font-size:36px;
    color:#F7B128
}

.corner{
    position:absolute;
    top:0px;
    left:670px;
    width:300px;
    height:478px;
    background-image: url("../img/product/corner.png");
}

.accessories{
    width:400px;
    height:298px;
    background-image: url("../img/product/accessories.png");
    float:right;
    position:relative;
    top:200px;
    right:100px;
}

.family{
    width:265px;
    height:600px;
    background-image: url("../img/product/storion_new.png");
    float:left;
    position:absolute;
    left:0
}

.centauri-storion{
    width:1000px;
    height:600px;
    margin:0 auto;
    position:relative;
}

.content-4{
    background-color: #f5f1e3;
}

.cloud-wrapper{
    width:1000px;
    height: 600px;
    margin:0 auto;
    position:relative;
}

.cloud_all{
    width:631px;
    height:550px;
    background-image: url(../img/product/cloud_earth.png);
    position:absolute;
    left:50px;
    top: 50px;
}

.powerplug{
    float:left;
    width:534px;
    height: 457px;
    background-image: url(../img/product/powerplug.png);
    position: absolute;
    top:100px;
}

.powerplug-features{
    position:absolute;
    width: 320px;
    left: 350px;
    top: 100px;
}

.powerplug-description{
    float:left;
    position: absolute;
    left:680px;
    top:108px;
}

.powerplug-desc-content{
    margin-top: 5px;
    padding: 9px 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    width: 280px;
    height: 30px;
}

.feature-ico{
    float:left;
    width:32px;
    height: 32px;
    margin: 4px;
    background-repeat: no-repeat;
}

.feature-all{
    width:300px;
    border: 1px solid #F7B128;
    float: left;
    border-radius: 3px;
    margin-top: 15px;
    height: 40px;
}

.plug-ico{
    background-image: url(../img/product/plug.png)
}

.modular-ico{
    background-image: url(../img/product/modular.png)
}

.safety-new-ico{
    background-image: url(../img/product/safety_new.png)
}

.years-ico{
    background-image: url(../img/product/20years.png)
}

.content-3{
    /*background-color: #CECECE;*/
}

.content-accessories{
    width:1000px;
    height:600px;
    margin:0 auto;
    position:relative;
}

.feature-table{
    float:left;
    width:420px;
    height:500px;
    top:30px;
    position:relative;
    font-size:12px;
}

.feature-table thead{
    background-color: #f7b128;
}

.feature-table th{
    height:30px;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
}

.feature-table .odd{
    background-color: #DDD;
}

.feature-table td{
    padding-left:20px;
}

.menu-ico{
    float:left;
    width:50px;
    height:50px;
    background-repeat: no-repeat;
    background-position: center;
}

.ico-storion{
    background-image: url(../img/product/storion-ico.png);
}

.ico-accessories{
    background-image: url(../img/product/accessories-ico.png);
}

.ico-centauri{
    background-image: url(../img/product/centauri-ico.png);
}

.ico-cloud{
    background-image: url(../img/product/cloud-ico.png);
}

.ico-battery{
    background-image: url(../img/product/battery-ico.png);
    height: 51px
}

.more{
    position:relative;
    width:139px;
    height:137px;
    float:left;
    background-image: url(../img/product/start.png);
    left:100px;
    top:200px;
    cursor:pointer;
    z-index:999;
}

.content-temp-4{
    width:1000px;
    height:600px;
}

.introduction-detail>li{
    float:left;
}

.cloud-title{
    font-size:18px;
    margin-top:20px;
}

.cloud-content{
    margin-top: 5px;
    padding: 9px 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    width:280px;
    height: 30px;
}

.tab{
    width:655px;
    text-align: center;
    float:left;
    position: absolute;
    left:350px;
    top:50px;
}

.tab>a{
    float:left;
    width:143px;
    padding:10px;
    color:#FFF;
    background-color: #CC6600;
    cursor: pointer;
}

.tab>.current{
    background-color: #FFCC00;
}

.components{
    position: absolute;
}

.components-back{
    position:absolute;
    width:500px;
    height:475px;
    float:left;
    background-image: url("../img/product/compo-back.png");
    left:325px;
    top:100px;
}

.components-part{
    position:absolute;
    color:#fff;
    width:180px;
}

.components-title{
    text-align: center;
    margin-bottom: 20px;
}

.components-content{
    font-size:12px;
    font-weight: lighter;
    list-style-type:circle;
}

.components-inverter{
    left:533px;
    top:150px;
}

.components-ems{
    left:610px;
    top:350px;
}

.components-battery{
    left:380px;
    top:300px;
}

.feature-desc{
    float:left;
    padding:5px;
    width:250px;
}