.content{
    float:left;
    overflow: hidden;
    width:100%;
    height:1000px;
    position:relative;
}

.content-1{
    background-color:#F5F5F5;
}

.storion{
    width:310px;
    height:800px;
    background-image: url(../img/product/storion.png);
    float:left;
    margin: auto;
    position:absolute;
    left:50%;
    margin-left:-155px;
    margin-top:50px;
}

.divide{
    width:50%;
    height:6px;
    background-image: url(../img/product/divide.png);
    float:left;
    background-position:center;
}

.feature-title{
    color:#7C7C7C;
    font-size: 36px;
    width: inherit;
    text-align:center;
    position:relative;
    opacity:0;
}

.feature{
    float:left;
    position:relative;
    width:40%;
}

.feature-detail{
    float:left;
}

.feature-detail-content{
    float:left;
    font-size: 16px;
    width:50%;
    margin:20px 0 0 20px;
    line-height: 20px;
}
.feature-1{
    top:300px;
    left:5%;
}

.point{
    float:left;
    width: 20px;
    height: 20px;
    margin-top:20px;
    background-image: url(../img/pointer.png);
}

.feature-2{
    top:100px;
    left:30%;
}

.crystal{
    width:374px;
    height:640px;
    background-image: url(../img/product/crystal.png);
    float:left;
    margin: auto;
    position:absolute;
    left:50%;
    margin-left:-187px;
    margin-top:50px;
}

.image-feature{
    float:left;
    position:relative;
    opacity:0;
}

.image-feature-icon{
    width:102px;
    height:102px;
}
.multifunction{
    background-image: url(../img/product/multi.png);
}

.comparatility{
    background-image: url(../img/product/comparatility.png);
}

.safety{
    background-image: url(../img/product/safety.png);
}

.reliability{
    background-image: url(../img/product/reliability.png);
}

.powerful{
    background-image: url(../img/product/powerful.png);
}

.advanced{
    background-image: url(../img/product/advanced.png);
}

.extendability{
    background-image: url(../img/product/extendability.png);
}

.economical{
    background-image: url(../img/product/economical.png);
}

.left-feature, .right-feature{
    float:left;
    width:300px;
}

.left-feature{
    position:relative;
    top:100px;
    left:20%;
    margin-left:-180px;
}

.right-feature{
    position:relative;
    top:100px;
    left:65%;
}

.left-feature .image-feature-icon{
    float:right;
}

.right-feature .image-feature-icon{
    float:left;
}

.left-feature .image-feature{
    margin-top:50px;
    float:right;
    width:280px;
}

.right-feature .image-feature{
    margin-top:50px;
    float:left;
    width:310px;
}

.left-feature .image-feature-title{
    float:right;
    font-size:24px;
    margin-right:20px;
    margin-top:20px;
}

.left-feature .image-feature-sub-title {
    float: right;
    font-size:14px;
    margin-right:20px;
    margin-top:10px;
}

.right-feature .image-feature-title{
    float:left;
    font-size:24px;
    margin-left:20px;
    margin-top:20px;
}

.right-feature .image-feature-sub-title {
    float: left;
    font-size:14px;
    margin-left:20px;
    margin-top:10px;
}

.sub-title-wrapper{
}

.content-3{
    /*background-image: url(../img/product/mixed.png);*/
    /*background-position:center;*/
}

.left-mixed{
    background-image: url(../img/product/left-mixed.png);
    background-position: right;
    width:1200px;
    height:1000px;
    background-repeat: no-repeat;
    position:relative;
    z-index: 10;
    margin-left:-10%;
}

.right-mixed{
    background-image: url(../img/product/right-mixed.png);
    background-position: right;
    width:100%;
    height: 1000px;
    background-repeat: no-repeat;
    position:absolute;
    z-index: 9;
    top:-50px;
    opacity:0;
}

.mixed-feature{
    position:relative;
    top:300px;
    left:30%;
}

.content-4{
    background-image: url(../img/product/cloud-background.png);
    background-position:center;
    position:relative;
    z-index:10;
}

.cloud{
    background-image: url(../img/product/cloud.png);
    width:378px;
    height:266px;
    margin:100px auto;
    z-index:10;
}

.link{
    background-image: url(../img/product/link.png);
    position:absolute;
    width:803px;
    height:432px;
    left:50%;
    top:140px;
    margin-left:-401px;
}

.pad{
    background-image: url(../img/product/pad.png);
    width:181px;
    height:129px;
    position:absolute;
    left : 12%;
    top: 50px;
    z-index:10;
}

.laptop{
    background-image: url(../img/product/laptop.png);
    width:310px;
    height:178px;
    position:absolute;
    left : 10%;
    top:400px;
}

.phone{
    background-image: url(../img/product/phone.png);
    width:80px;
    height:136px;
    position:absolute;
    left : 60%;
    top : 500px

}

.imac{
    background-image: url(../img/product/imac.png);
    width:288px;
    height:277px;
    position:absolute;
    left : 75%;
    top:400px;
}

.storion-flat{
    background-image: url(../img/product/storion-flat.png);
    width:164px;
    height:396px;
    margin:100px auto;
}

.device{
    opacity : 0;
}

.introduction{
    width:300px;
    height:200px;
    position:absolute;
    left:70%;
    top :100px;
}

.introduction-name{
    font-size: 48px;
}

.introduction-detail{
    font-size:24px;
}

.introduction-detail li{
    margin:10px 0 0 20px;
}

.learn-more{
    color:#F7B128;
    font-size:24px;
    text-decoration: underline;
    position:absolute;
}

.content-1 .learn-more{
    left:70%;
    top:800px;
}

.content-2 .learn-more{
    left:50%;
    top:800px;
}

.content-3 .learn-more{
    left:40%;
    top:800px;
}

.left-menu{
    position:fixed;
    z-index:9999;
    left:90%;
    top:40%
}

.menu-normal{
    background-image: url(../img/menu-normal.png);
    background-position: center;
    background-repeat: no-repeat;
    width:18px;
    height:18px;
    float: right;
    cursor: pointer;
}

.menu-active{
    background-image: url(../img/menu-active.png);
    width:18px;
    height:18px;
    float:right;
}

.menu-text{
    float:right;
    font-size: 14px;
    margin-right:5px;
}

.left-menu li{
    margin-top:20px;
    width:100%;
    height:14px;
}