.content{
    float:left;
}

.storion{
    width:310px;
    height:800px;
    background-image: url(../img/product/storion.png);
    float:left;
    margin: auto;
    position:absolute;
    left:50%;
    margin-left:-155px;
    margin-top:50px;
}

.divide{
    width:545px;
    height:6px;
    background-image: url(../img/product/divide.png);
    float:left;
    margin-top: 20px;
}

.feature-title{
    color:#7C7C7C;
    font-size: 36px;
}

.feature{
    float:left;
    position:relative;
    width:545px;
}

.feature-title{
    width: inherit;
    text-align:center;
}

.feature-1{
    top:300px;
    left:100px;
}

.feature-2{
    top:100px;
    left:600px;
}

.crystal{
    width:255px;
    height:545px;
    background-image: url(../img/product/crystal.png);
    float:left;
    margin: auto;
    position:absolute;
    left:50%;
    margin-left:-127px;
    margin-top:50px;
}

.mixed{

}